// main: ../main.sass

.form-consultas
  max-width: 540px
h2
  margin-bottom: 30px
fieldset.main__form--consulta
  padding-bottom: 20px
  label
    display: none
  textarea
    width: 100%
    padding: 15px
    border: 1px solid grey
    border-radius: 6px
    margin-bottom: 1em
    font-family: inherit
    font-size: 16px
.form-consultas--exito p
  margin: 50px 0 20px